/* app css stylesheet */
body {
	padding-top: 50px;	
}

.menu {
  list-style: none;
  position: fixed;
  z-index:10;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #ccc;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}


.menu > li {
  display: inline-block;
  padding: 10px 15px;
  color: #333;
  border-right: 1px solid #333;
}

.menu > li:last-child {
	border-right: none;
}

.menu > li:hover a {
	color: red;
}
