
<div class="col-sm-12" id="pricelist">
	<div class="spinner" ng-hide="load">
		<i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
	</div>	
	<search-job search-source="pricelist" search-target="calculation" promise="loadPrice.promise" ng-show="load"></search-job>
	<div class="panel category" ng-repeat="category in pricelist.pricelist" ng-class="{checked: category.checked}" 
	ng-click="pricelist.checkedCategory($event, category)">
		<div class="panel-heading">
			<h4>
				{{category.code}}. {{category.name}}
			</h4>
		</div>
		<div class="panel-content">
			<div class="panel section" ng-repeat="section in category" ng-class="{checked: section.checked}" ng-show="category.checked && section.length" 
				ng-click="pricelist.checkedSection($event, section, category)">
				<div class="panel-heading">
					<h4>
						{{section.code}}. {{section.name}}
					</h4>
				</div>
				<div class="panel-content" ng-show="section.checked">
					<job ng-repeat="job in section" job="job" target="calculation" promise="loadPrice.promise"></job>
				</div>
			</div>
		</div>
	</div>
</div>
