<div role="tabpanel" class="tab-pane calc" id="calc">
			<div class = "head col-sm-12">
				<div class="head_info">
					<span>Номер КП</span>
					<input class="info_input" type = "text" ng-model="calculation.number_kp"></input>
				</div>
				<div class="head_info">
					<span>Заказчик</span>
					<input class="info_input" type = "text" ng-model='calculation.customer_name'></input>
				</div>
				<div class="head_info">
					<span>Адрес</span>
					<input class="info_input" type = "text" ng-model='calculation.adress'></input>
				</div>
				<div class="head_info">
					<span>Телефон</span>
					<input class="info_input" type = "tel" ng-model='calculation.phone'></input>
				</div>
				<div class="head_info">
					<span>Составил</span>
					<input class="info_input" type = "text" ng-model='calculation.madeBy'></input>
				</div>
				<div class="head_info">
					<span>Менеджер</span>
					<input class="info_input" type = "text" ng-model='calculation.manager'></input>
				</div>
				<div class="head_info">
					<span>Проектировщик</span>
					<input class="info_input" type = "text" ng-model='calculation.projectDesigner'></input>
				</div>
				<div class="head_info">
					<span>Другая информация</span>
					<textarea class="info_input" type = "text" cols="10" ng-model='calculation.info'></textarea>
				</div>				
			</div>
			<div class="prices col-sm-12">
				<div class="sum jobs_sum right">
					<span>Монтажные работы: </span>
					<span class="price">{{calculation.jobs.sum}}</span>
					<span>грн</span>
				</div>	
				<div class="sum mat_sum right">
					<span>Материалы: </span>
					<span class="price">{{calculation.materials.sum}}</span>
					<span>грн</span>
				</div>
				<div class="sum all_sum right">
					<span>Всего: </span>
					<span class="price">{{calculation.jobs.sum + calculation.materials.sum}}</span>
					<span>грн</span>
				</div>
			</div>
			
			<table-job source="calculation" price="pricelist"></table-job>
			<div class="materials_table table_calc col-sm-12">
				<h3>Материалы</h3>
				<div class = "add_row">
					<button type="button" class="btn btn-xs btn-primary" ng-click = "calculation.addMaterial()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</div>
				<table>
					<tr class="head_table">
						<th>№</th>
						<th>Наименование</th>
						<th>ед.изм.</th>
						<th>кол-во</th>
						<th>ст.ед., грн</th>
						<th>сумма, грн</th>
					</tr>
					<tr class="material" ng-repeat="material in calculation.materials" ng-keyup="calculation.keyup($event)">
						<td>{{material.index}}</td>
						<td><input type = "text" ng-model="material.name"/></td>
						<td><input type = "text" ng-model="material.measure"/></td>						
						<td><input type = "text" ng-model="material.number" ng-blur="calculation.calculate()"/></td>
						<td><input type = "text" ng-model="material.price" ng-blur="calculation.calculate()"/></td>
						<td>{{material.sum}}</td>
						<td class="btn-delete">
							<button type="button" class="btn btn-xs btn-danger" ng-click = "calculation.deleteMaterial()">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan = '4'>Запас на материалы (не используемая часть возвращается), грн</td>
						<td>{{calculation.materials.reserve}}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan = '4'>Расходы по оформлению и доставке материалов, грн</td>
						<td>{{calculation.materials.delivery}}</td>
					</tr>
					<tr>
						<td></td>
						<td colspan = '4'>Итого материалы, грн</td>
						<td>{{calculation.materials.sum}}</td>
					</tr>
				</table>
			</div>
		</div>
