#price {
		background-color: #fafafa;	
		
		.panel-heading, .panel-title, .panel-group, .panel-body, .panel, .panel-default {
			padding: 0px;			
			margin: 0px;			
			border: none;
			background-color: #fff;
		}
	
		.category {	
			border: 1px solid rgb(238, 238, 238);			
			margin-top: 10px;
			
			a {
				display: block;
				padding-bottom: 20px;
				padding-top: 20px;
				background-color: #fff;			
				text-align: center;
				font-size: 14px;
				font-family: "Raleway";
				color: rgb(51, 51, 51);
				font-weight: bold;
				text-transform: uppercase;
				line-height: 1.2;
				width: 100%;
				line-height: 100%;
				
				&:hover {
					background-color: #43b4de;
					color: rgb(255, 255, 255);				
				}
				
				&[aria-expanded="true"] {
					background-color: #43b4de;
					color: rgb(255, 255, 255);	
				}
			}
			
			a:hover, a:focus, a:visited { 
				text-decoration: none;
			}
		}
		
		.section {
			border: 1px solid rgb(238, 238, 238);			
			margin-top: 5px;
			
			a {
				display: block;
				padding: 10px 15px;				
				background-color: #fff;			
				text-align: left;
				font-size: 16px;
				font-family: "Raleway";
				color: rgb(51, 51, 51);					
				line-height: 1.2;
				width: 100%;
				line-height: 100%;
				
				&:hover {
					background-color: #999;
					color: rgb(255, 255, 255);				
				}
				
				&:hover, &:focus, &:visited { 
					text-decoration: none;
				}
				
				&[aria-expanded="true"] {
					background-color: #999;
					color: rgb(255, 255, 255);	
				}
			}			
		}
		
		.job {
			display: block;
			overflow: auto;
			padding: 7px 10px;				
			background-color: #fff;			
			text-align: left;
			font-size: 14px;
			font-family: "Raleway";
			color: rgb(51, 51, 51);					
			line-height: 1.2;
			cursor: pointer;
			transition: opacity 1s ease-out;
			position: relative;
			
			span {
				opacity: 0;
				color: #00d800;
				position: absolute !important;
				top: 50%;
				display: block;
				width: 15px;
				height: 15px;	
				margin-top: -7.5px;
			}
				
			&:hover {
				background-color: rgba(221,221,221,0.3);				
			}
			
			>div {
				&:after {
					clear: both;
				}
			}
			
			&.checked {
				background-color: rgba(0,216,0,0.12);
				
				span {
					animation: checkedJobIn .5s ease-out alternate;
					animation-fill-mode: both;
				
					@keyframes checkedJobIn {
					  0% {
						opacity: 0;
					  }
					  
					  100% {
						opacity: 1;
					  }
					}									
				}
				
				.jobName {
					
				}
			}
			
			.jobName {
				padding-left: 20px;
				position: relative;
			}
		}
		
	}