#calc .right {
  float: right;
  overflow: auto;
  clear: right; }

#calc .head {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #calc .head .head_info {
    margin-top: 10px; }
    #calc .head .head_info span {
      display: inline-block;
      width: 200px; }
    #calc .head .head_info .info_input {
      border: none;
      border-bottom: 1px solid #000;
      display: inline-block;
      margin-left: 20px;
      background-color: #fafafa;
      min-width: 200px;
      max-width: 70%; }
    #calc .head .head_info textarea.info_input {
      border: 1px solid #000;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      min-width: 300px; }

#calc .prices {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px auto;
  font-size: 16px;
  font-weight: bold; }
  #calc .prices .sum {
    display: block;
    margin-top: 10px;
    width: 500px; }
    #calc .prices .sum span {
      display: inline-block;
      margin: 0px 5px; }
    #calc .prices .sum span:first-child {
      min-width: 150px; }
    #calc .prices .sum .price {
      border-bottom: 2px solid #000;
      min-width: 100px; }

#calc .table_calc {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px; }
  #calc .table_calc h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold; }
  #calc .table_calc .add_row {
    font-size: 20px;
    color: #aaa;
    float: right;
    clear: both;
    overflow: hidden; }
    #calc .table_calc .add_row span {
      display: block;
      padding: 5px;
      top: 0px; }
  #calc .table_calc .human-hour {
    float: right;
    clear: right;
    overflow: hidden;
    min-width: 50px; }
    #calc .table_calc .human-hour span {
      display: inline-block;
      text-align: right;
      font-size: 14px;
      margin-bottom: 0px;
      min-width: 20px;
      min-height: 14px; }
  #calc .table_calc table {
    text-align: left;
    min-width: 100%;
    margin: 0px auto; }
    #calc .table_calc table td, #calc .table_calc table th {
      min-width: 70px;
      border: 1px solid #000;
      padding: 2px 5px; }
    #calc .table_calc table td:nth-child(1), #calc .table_calc table th:nth-child(1) {
      text-align: center;
      min-width: 30px; }
    #calc .table_calc table td:nth-child(2), #calc .table_calc table th:nth-child(2) {
      width: 50%; }
    #calc .table_calc table input, #calc .table_calc table textarea {
      border: none;
      outline: none;
      background-color: #fff;
      width: 100%;
      overflow-y: visible;
      height: 100%; }
