<div id = "ni" class="container">
	<div class="ni-block human-hour row">
		<div class="col-sm-offset-4 col-sm-3 ni-default">{{ni.humanHourPrice.name}}</div>	
		<div class="col-sm-1 ni-change">
			<input class="info_input" type = "number" ng-model="ni.humanHourPrice.value" ng-change="calc()"></input>
		</div>
	</div>	
	
	<div class="ni-block row">
		<div class="col-sm-5 ni-default">Название</div>	
		<div class="col-sm-1 ni-default">ед.изм.</div>
		<div class="col-sm-1 ni-default">% по умолчанию</div>
		<div class="col-sm-1 ni-default">%</div>
		<div class="col-sm-2 ni-default">Сумма, грн</div>
		<div class="col-sm-2 ni-default">% от общей суммы</div>
	</div>
	<div class="ni-block row" ng-repeat="ni in ni.prop">
		<div class="col-sm-5 ni-default left">{{ni.name}}</div>	
		<div class="col-sm-1 ni-default">{{ni.measure}}</div>
		<div class="col-sm-1 ni-default">{{ni.defaultPercent}}</div>	
		<div class="col-sm-1 ni-change">
			<input ng-show="ni.percent !== undefined" class="info_input" type = "number" ng-model="ni.percent" ng-change="calc()"></input>
		</div>
		<div class="col-sm-2 ni-default">{{ni.value}}</div>
		<div class="col-sm-2 ni-default">{{ni.persentFromSum}}</div>
	</div>
</div>

